{% extends "base.html" %} {% block title%} LabXact {% endblock %} {% block
content %} {% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button
		type="button"
		class="btn-close"
		data-bs-dismiss="alert"
		aria-label="Close"
	></button>
</div>

{% endfor %} {% if current_user.role == 'admin' %}
<div class="row" style="display: flex; width: 100%; align-items: center">
	<div class="col-md-6" style="width: 50%">
		<h1>Add User</h1>
		<br />
		<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
			<form method="POST">
				{{ form.hidden_tag() }} {{ form.firstname.label(class='form-label',
				style="color: #273469") }} {{ form.firstname(class='form-control mb-3')
				}} {{ form.lastname.label(class='form-label', style="color: #273469") }}
				{{ form.lastname(class='form-control mb-3') }} {{
				form.username.label(class='form-label', style="color: #273469") }} {{
				form.username(class='form-control mb-3') }} {{
				form.email.label(class='form-label', style="color: #273469") }} {{
				form.email(class='form-control mb-3') }} {{
				form.role.label(class='form-label' , style="color: #273469") }} {{
				form.role(class='form-control mb-3 form-select') }} {{
				form.section.label(class='form-label' , style="color: #273469") }} {{
				form.section(class='form-control mb-3 form-select') }} {{
				form.password.label(class='form-label', style="color: #273469") }} {{
				form.password(class='form-control mb-3', placeholder="8-20 characters")
				}} {{ form.password_confirm.label(class='form-label', style="color:
				#273469") }} {{ form.password_confirm(class='form-control mb-3',
				placeholder="Must match password above") }}

				<br />
				{{ form.submit(class='btn btn-warning', style="color: #273469; border:
				none; background-color: #ffc107") }}
			</form>
			<br /><br /><br />
		</div>
	</div>
	<div class="col-md-6" style="width: 50%">
		<img
			src="../static/images/add-user.svg"
			style="width: 80%; margin: 0 auto; display: block"
		/>
	</div>
</div>
<h1>User List</h1>
<br />
<center>
	<table class="table table-hover table-bordered table-striped">
		<tr>
			<th>ID</th>
			<th>FIRST NAME</th>
			<th>LAST NAME</th>
			<th>EMAIL</th>
			<th>USERNAME</th>
			<th>ROLE</th>
			<th>SECTION</th>
			<th>ACTION</th>
		</tr>
		{% for users in our_users %}
		<tr>
			<td>{{users.id}}</td>
			<td>{{users.firstname}}</td>
			<td>{{users.lastname}}</td>
			<td>{{users.email}}</td>
			<td>{{users.username}}</td>
			<td>{{users.role}}</td>
			<td>{{users.section}}</td>
			<td>
				<a href="{{url_for('users.modify_user', id=users.id)}}">Edit</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</center>

{% else %}

<br /><br />
<center>
	<h1>Unauthorised Access!</h1>
	<h5>Sorry, you are not allowed to access this page...</h5>
</center>

{% endif %} {% endblock %}
