body {
	background-color: #273469;
}
.row h1 {
	height: 100%;
	padding-top: 350px;
	font-size: 200px;
	text-shadow: 0 2px 2px #f7b801;
	text-align: center;
	margin: 0 auto;
	color: white;
	font-weight: 900;
}
.login-form {
	min-width: 300px;
	max-width: 200px;
	margin: 0 auto;
	margin-top: 150px;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 50px;
	box-shadow: 0 2px 5px #f7b801;
}
.login-form svg {
	width: 100%;
	margin: 0 auto;
	color: #273469;
}

.login-form .form-control,
.login-form .btn {
	min-height: 40px;
	border-radius: 1000px;
}
.form-label {
	font-weight: 800;
	color: #273469;
}

#username,
#password {
	border: 3px solid #273469;
}

.login-form .btn {
	font-size: 15px;
	font-weight: bold;
}
.login-form .btn-primary {
	background-color: #ffffff;
	border: 3px solid #273469;
	border-radius: 1000px;
	color: #273469;
	font-weight: 800;
	width: 50%;
	margin: auto;
}
.login-form .btn-primary:hover {
	background-color: #f7b801;
	color: white;
}

/* Responsive CSS using media queries */
@media (max-width: 576px) {
	.login-form {
		margin-top: 50px;
	}
}

@media (max-width: 400px) {
	.login-form {
		margin-top: 20px;
		padding: 15px;
	}
	.login-form h2 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.login-form .form-control,
	.login-form .btn {
		min-height: 35px;
		font-size: 14px;
	}
}
