{% extends "base.html" %} {% block title%} LabXact {% endblock %} {% block
content %} {% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button
		type="button"
		class="btn-close"
		data-bs-dismiss="alert"
		aria-label="Close"
	></button>
</div>

{% endfor %}
<div class="row" style="width: 100%; align-items: center">
	<div class="col-md-6" style="width: 60%">
		<img src="../static/images/edit.svg" style="width: 100%; margin: 0 auto" />
	</div>
	<div class="col-md-6" style="width: 40%">
		<h1>Update User</h1>
		<br />
		<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
			<form method="POST" action="/modify_user/{{user_to_update.id}}">
				{{ form.hidden_tag() }} {{ form.fullname.label(class='form-label',
				style="color: #273469") }} {{ form.fullname(class='form-control mb-3',
				value=user_to_update.fullname) }} {{
				form.username.label(class='form-label', style="color: #273469") }} {{
				form.username(class='form-control mb-3', value=user_to_update.username)
				}} {{ form.email.label(class='form-label', style="color: #273469") }} {{
				form.email(class='form-control mb-3', value=user_to_update.email) }} {{
				form.role.label(class='form-label' , style="color: #273469") }} {{
				form.role(class='form-control mb-3 form-select', value=user_to_update.role) }} {{
				form.section.label(class='form-label' , style="color: #273469") }} {{
				form.section(class='form-control mb-3 form-select', value=user_to_update.section) }}
				{{ form.password.label(class='form-label', style="color: #273469") }} {{
				form.password(class='form-control mb-3', value=user_to_update.password,
				placeholder="8-20 characters.") }} {{
				form.password_confirm.label(class='form-label', style="color: #273469")
				}} {{ form.password_confirm(class='form-control mb-3') }}
				<br />
				{{ form.submit(class='btn btn-warning', style="color: #273469; border:
				none; background-color: #ffc107; hover-color: blue") }}
				<a href="{{url_for('delete_user', id=id)}}" class="btn btn-danger">Delete</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}
